<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- Local CSS -->
	<link rel="stylesheet" href="css/style.css">
    <title>Home</title>
</head>
<body>
    <!-- Blue vertical Navbar -->
    <nav class="vertical-nav">
        <div class="container">
            <div class="box"></div>
            <div class="car-box">
                <img src="assets/fi_truck.png" alt="" class="truck">
                <p>Cars</p>
            </div>
        </div>
    </nav>

    <!-- Top Navbar -->
    <nav class="navbar navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand"></a>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
      </nav>

    <nav class="left-navbar">
        <div class="container">
            <h2>CARS</h2>
            <p>List Car</p>
        </div>
    </nav>