<%- include ('layouts/header') %>

<!-- Main Content -->
<div class="container-fluid wrapper">
    <!-- Breadcrumb -->
    <div class="breadcrumb-wrapper">
        <nav style="--bs-breadcrumb-divider:'>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Cars</a></li>
            <li class="breadcrumb-item"><a href="/">List Cars</a></li>
            <li class="breadcrumb-item" aria-current="page">Update Car Information</li>
            </ol>
        </nav>
    </div>

    <div class="content-header">
        <h2>Update Car Information</h2>
    </div>

    <!-- Form -->
    <form action="" class="form-wrapper" name="edit-form">
        <div class="mb-3 row">
            <label for="nama" class="col-sm-2 col-form-label">Nama</label>
            <div class="col-sm-10">
                <input type="text" class="form-control text-input" name="name" id="" required placeholder="Avanza">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="nama" class="col-sm-2 col-form-label">Sewa per Hari</label>
            <div class="col-sm-10">
                <input type="text" class="form-control text-input" name="price" id="" required placeholder="Rp 0.-">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="nama" class="col-sm-2 col-form-label">Ukuran</label>
            <div class="col-sm-10">
                <select name="size" id="" class="form-control text-input">
                    <option value="small" selected>Small</option>
                    <option value="medium">Medium</option>
                    <option value="large">Large</option>
                </select>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="nama" class="col-sm-2 col-form-label">Foto</label>
            <div class="col-sm-10">
                <input type="file" class="form-control text-input" name="photo" id="" required>
            </div>
          </div>
    </form>

    <div class="form-submit">
        <button type="submit" form="edit-form" class="btn filter-btn submit-btn">Submit</button>
        <button class="btn filter-btn">Cancel</button>
    </div>

<%- include ('layouts/footer') %>