<%- include ('layouts/header') %> 

<!-- Main Content -->
<div class="container-fluid wrapper">
    <!-- Breadcrumb -->
    <div class="breadcrumb-wrapper">
        <nav style="--bs-breadcrumb-divider:'>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Cars</a></li>
            <li class="breadcrumb-item active" aria-current="page">List Cars</li>
            </ol>
        </nav>
    </div>
    <div class="list-car-header">
        <h2>List Car</h2>
        <button class="btn btn-success add-btn"><a href="/add" class="link-add">+  Add New Car</a></button>
    </div>
    <!-- Filter Button -->
    <div class="filter-button">
        <button class="btn btn-success filter-btn">All</button>
        <button class="btn btn-success filter-btn">Small</button>
        <button class="btn btn-success filter-btn">Medium</button>
        <button class="btn btn-success filter-btn">Large</button>
    </div>
</div>

<div class="container car-list-wrapper">
    <div class="row">
        <% for( let index = 0; index < data.length; index++ ) { %>
            <div class="card car-card col-4">
                <img src="assets/car-list-img.png" alt="" class="car-pic">
                <p><%= data[index].name %> </p>
                <p><b><%= data[index].price %>  / Hari</b></p>
                <p><span><img src="assets/fi_clock.png" alt="" class="car-icon"></span>Updated at <%= data[index].createdAt %> </p>
                <div class="select-wrapper">
                    <button class="btn btn-danger delete-btn"><img src="assets/fi_trash-2.png" alt="" class="select-icon"><a href="/delete" class="link-delete">Delete</a></button>
                    <button class="btn btn-success edit-btn"><img src="assets/fi_edit.png" alt="" class="select-icon"><a href="/edit" class="link-edit">Edit</a></button>
                </div>
            </div>
        <% } %>
    </div>
</div>

<%- include ('layouts/footer') %> 