html{
    height: 100%;
}

/* Colors for different links */
.link-add, .link-edit{
    color: white;
    text-decoration: none;
}

.link-delete{
    color: #FA2C5A;
    text-decoration: none;
}

.link-add:hover{
    text-decoration: none;
}
/* Left blue navbar */
.box{
    position: relative;
    width: 34px;
    height: 34px;
    left: 0.5rem;
    top: 1rem;

    /* Primary/DarkBlue/01 */
    background: #CFD4ED;
}

.vertical-nav{
    background-color: #0D28A6;;
    height: 100vh;
    width: 5rem;
    display: block;
    text-align: center;
}

.vertical-nav .container{
    text-align: center;
}

div.container div.car-box{
    position:relative;
    right: 0.2rem;
    top: 3rem;
    text-align: center;
    
}

div.car-box p{
    color: white;
}
/* Left blue navbar end */

/* Top Navbar */
nav.navbar{
    position: absolute;
    top: 0;
    left: 5rem;
    width: calc(100% - 5rem);
    height: 4rem;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
}

div.container-fluid a.navbar-brand{
    width: 100px;
    height: 34px;
    left: 24px;
    top: 1rem;

/* Primary/DarkBlue/01 */
background: #CFD4ED;
}
/* Top Navbar end*/

/* Left Navbar */
.left-navbar{
    position: absolute;
    left: 5rem;
    width: 15%;
    height: 100%;
    top: 4rem;
    background-color: transparent
}

nav.left-navbar h2{
    margin-top: 2.5rem;
    margin-left: 1rem;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    /* identical to box height, or 143% */

    /* Neutral/03 */
    color: #8A8A8A;
}

nav.left-navbar p{
    margin-left: 1rem;
    margin-top: 1rem;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    /* identical to box height, or 143% */

    /* Neutral/05 */
    color: #151515;
}
/* Left Navbar End*/

/* Main Content */
.wrapper{
    position: absolute;
    background-color: #E5E5E5;
    width: calc(100% - 15% - 5rem);
    top: 4rem;
    left: calc(15% + 5rem);
    height: 100%;
}

.wrapper .row p{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}


ol.breadcrumb{
    margin-top: 2.4rem;
    margin-left: 1rem;
}

.breadcrumb-item a{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: black;
}

li {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;

    /* identical to box height, or 150% */

    color: #222222;
}

.list-car-header{
    display: flex;
    flex-shrink: 0;
    width: 100%;
}

.list-car-header h2{
    margin-left: 1rem;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: black;
}

.add-btn{
    position: relative;
    margin-left: auto;
    margin-right: 3rem;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.filter-button{
    padding-top: 1rem;
    /* padding-left: 1rem; */
}

.filter-btn{
    margin-left: 1rem;
    border-radius: 2px;
    background-color: #CFD4ED;
    border-color: #0D28A6;
    color: #0D28A6;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

/* Cars */
.car-list-wrapper{
    position: absolute;
    top: 16rem;
    left: calc(15% + 6.5rem);
}

.car-pic{
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding : 3rem;
}

.car-card{
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    
}

.car-card p:not(:last-child){
    padding-left: 1rem;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.car-card p:last-child{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding-top: 0px;
    
}

img.car-icon{
    width: auto;
    padding: 1rem;
    padding-right: 0.5rem;
    padding-left: 0px;
}

.delete-btn, .edit-btn{
    width: 45%;
    font-style: normal;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    
}

.edit-btn{
    background: #5CB85F;
    border-color: #5CB85F;
    border-radius: 2px;
}

.delete-btn{
    color: #FA2C5A;
    border-color: #FA2C5A;
    background-color:transparent;
    border-radius: 2px;
}

.select-wrapper{
    display:flex;
    justify-content:space-evenly;
    padding-bottom: 1rem;
}

.select-icon{
    width:auto;
    padding-right: 0.5rem;
    margin-bottom: 3px;
    
}

/* Form */
.form-wrapper{
    background-color: white;
    padding: 1.5rem;
    margin-left: 1rem;
}

.text-input{
    max-width: 50%;
    /* Neutral/01 */
    background: #FFFFFF;

    /* Neutral/02 */
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 2px;
}

.col-form-label{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: #3C3C3C;
}

.form-submit{
    margin-top: 25%;
}

.submit-btn{
    background: #0D28A6;
    color: white;
}

.submit-btn:hover{
    color: white;
}

.content-header{
    margin: 1.5rem;
    margin-left: 1rem;
}

.content-header h2{
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}


